

.stork-close-button {
    position:absolute;
    right: 15px;
    top: 4em;
}

.stork-progress {
    z-index: 1;
    position: absolute;
    right: 0;
}

.stork-output-visible {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 3em;
    background: white;
    border: 1px solid grey;
    border-radius: 1em;
    box-shadow: 2px 2px 3px gray;
    box-sizing: border-box;
    padding: 0;
    overflow: scroll;
    max-height: 40em;
    min-width: 60em;
}

.stork-output-visible div {
    margin: 1em;
}


.stork-output-visible a {
    text-decoration: none;
}

ul.stork-results {
    margin: 0;
}

li.stork-result {
    list-style: none;
    border-top: 1px dotted var(--mutedTextColor);
    color: black;
    margin: 1em 0 0 0;
}

.stork-title {
    font-family: var(--sansFontFamily);
    font-weight: normal;
}
.stork-excerpt {
    font-family: var(--serifFontFamily);
    font-weight: normal;
    color: black;
    line-height: 1em;
}

div.stork-attribution {
    background-image: linear-gradient(180deg,#f2f2f2, #fff);
    background-repeat: repeat-x;
    border: 1px solid #d3d3d3;
    margin: 0;
    padding: 0.5em 1em;
    width: auto;
}
