// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// have to override this very specifically
#content .blog-index article h1 {
    font-size: 1.8em;
}

.entry-title {
    font-size: 1.8em;
    /* background-color: blue; */
}

.entry-content {
    font-size: 1.0em;
    /* background-color: red; */
}

#content .blog-index article {
    padding-top: 1em;
}

article > header {
    padding-top: 2.0em;
    margin-bottom: 0.5em;
}

.gist div {
    margin: 0 0 0;
}

.gist-file {
    font-family: Menlo, Monaco, 'Andale Mono', 'lucidia console', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 10pt;
}

.gist div.line, .gist span.line-number {
    height: 20px;
}

.gist-meta, .gist-data {
    width: 789px;
}

